/*
    Colour Palette:
    Slate #808080
    White #F3F7EC
    Blue #006989
    Navy #005C78
*/

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #808080;
    color: #F3F7EC;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 900;
    padding: 16px;
    height: 72px;
    background-color: #005C78;
    border-bottom: 2px solid black;
}

.content {
    display: flex;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #005C78;
    color: black;
    height: 72px;
    border-top: 2px solid black;
    font-size: 16px;
    font-weight: 500;
    margin-top: auto;
}

.sidebar {
    width: 300px;
    box-sizing: border-box;
    background-color: #006989;
    border-right: 2px solid black;
    flex-shrink: 0;
    font-size: 24px;
    font-weight: 600;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 48px;
    gap: 32px;
}

.card {
    background-color: #006989;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    width: 300px;
}

.sidebar li {
    margin: 0;
    padding: 8px;
}

.off {
    background-color: #005C78;
}

.space {
    border-top: 2px solid black;
}

.card h2 {
    background-color: #005C78;
    border-bottom: 2px solid black;
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 8px 0;
    padding: 8px;
    text-align: center;
}

.card p {
    padding: 0 8px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: #F3F7FF;
}

.footer a:hover {
    text-decoration: underline;
}

.slide-link {
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: box-shadow .3s ease-in-out;
}

.slide-link:hover {
    box-shadow: inset 300px 0 0 0 #54b3d6;
    color: white;
}